footer {
	background: $medium;
	color: #fff;
	text-align: center;
	padding: 1em;
	clear: both;

	.coc {
		padding: 1em;
		a {
			border-radius: 5px;
			border: 2px solid #fff;
			box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
			color: #fff;
			padding: 0.2em 0.5em;
		}
	}
}
