.front header .logo {
	height: 15em;
}

header {
	position: relative;
	.logo {
		position: relative;
		top: -2em; left: 2.75em;
		width: 20em;
		height: 10em;
		background: url(../images/logo-tlv-white.png) top left no-repeat;
		background-size: contain;
		display: block;
		z-index: 2;
	}

	nav {
		display: flex;
		justify-content: right;
		padding: 0.75em;
		margin-right: 2em;
		margin-top: 4em;
		height: 2.5em;
		margin-bottom: -6.5em;
		position: relative;
		z-index: 5;
		font-size: 87.5%;

		.burger {
			display: none;
			margin-left: 0.1em;
		}
		a {
			color: #fff;
			text-transform: uppercase;
			padding: 0em 1em;
			border-radius: 0.8em;
			height: 1.6em;
			&:hover{
				background: #fff;
				color: $medium;
				text-decoration: none;
			}
			&:active {
				background: $light;

			}
		}
		> ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			list-style: none;
			margin: 0;
			padding: 0;
			width: 100%;

			> li {
				min-width: 8em;
				position: relative;
				flex: 0 1 auto;
				margin: 0;
				padding: 0em 1em 2em 0em;
				transition: all linear 0.1s;

				&.dropdown > a:after {
					content: "\25be";
					margin-left: 0.25em;
				}

				> ul {
					display: none;
					position: absolute;
					z-index: 2;
					list-style: none;
					xwidth: 12em;
					white-space: nowrap;
					margin: 0;
					padding: 0;
					background: rgba(4,11,13,0.5);
					box-shadow: 0px 5px 2px rgba(0,0,0,0.5);
					left: 0em;
					top: 1.6em;
					padding: 0.4em;
					line-height: 1.5em;

					a { text-transform: none; }
				}
				&:last-child {
					ul {
						left: auto;
					}
				}

			}

			> li:hover > ul {
				display: block;
			}
		}
	}
}


@media (max-width: 500px) {
	header {
		.logo {
			width: 10em;
			height: 5em;
			top: 1em;
			left: 0.5em;
		}
		nav {
			font-size: 100%;
			padding: 0;
			height: auto;
			margin: 0;
			padding: 0.5em 0em;

			.burger {
				display: block;
				padding: 0.3em 0.5em;
				margin-left: 0em;
			}

			> ul {
				display: none;
			}

			&:hover > ul, .burger:hover + ul {
				display: block;	
			}

			> ul {
				> li {
					width: 100%;
					flex: none;
					padding: 0.3em 0.5em;

					> ul {
						position: relative;
						z-index: 0;
						width: 100%;
						margin: 0 0 0 1em;
						padding: 0.3em 0.5em;
						background: transparent;
						box-shadow: none;
						left: auto;
						top: auto;
					}
				}

				> li:hover > ul {
					display: block;
				}
			}
		}
	}

}


