
section.keynotes-front {
	ul {
		display: flex;
		justify-content: center;
	}
	li {
		list-style-type: none !important;
		width: 250px;
		height: 250px;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		flex-shrink: 0;
		flex-grow: 0;
	}
}

div.keynote-full {
	ul {
		list-style: none;
	}
	li {
		padding-left: 210px;
		list-style-type: none !important;
		clear: both;
	}

	img {
		width: 200px; 
		height: 200px; 
		border-radius: 50%;
		float: left;
		background-size: cover;
		margin-left: -220px;
	}
}

@media (max-width: 500px) {
	section.keynotes-front {
		li {
			width: 150px;
			height: 150px;
		}
	}
}

