section.front {
	h2 {
		font-size: 275%;
	}
	h3 {
		font-size: 200%;
	}	

	xmargin-bottom: -14em;
	&.img{
		padding-bottom: 16em;
	}
	.logo {
		width: 20%;
	}
}

section {
	padding: 0em 4em 2em 4em;
 	
 	&.inverse {
		background-color: $medium;
		color: #fff;
		padding-top: 1em;

		a {
			color: $light;
		}

		button.dark {
			background: #fff;
			color: $medium;
		}
	}
	&.inverse+section, &.img+section { padding-top: 1em; }

	&:first-of-type {
		border-top: 2.3em solid $medium;
		&.inverse {
			padding-top: 2em;
		}
	}

	&.img {
		color: #fff;
		border-top: none;
		background-size: cover;
		background-position: top left;

		padding: 2em 4em;
		width: 100%;
		height: 100%;
		background-position: bottom right, top left;
		background-repeat: repeat-y, no-repeat;
		background-size: cover, cover;
		background-blend-mode: multiply, normal;
	}
	&.map {
		padding: 0;
	}
}
section.img a {
	color: #fff;
	text-decoration: underline;
}


@media (max-width: 500px) {
	section.front {
		.logo {
			width: 30%;
		}
	}
}
