---
layout: front
bodyclass: front
image: beach.jpg
---

	<div>
		<h2 style="margin-top:1em;">OWASP Global AppSec Tel Aviv</h2>
		<h1>Community of Innovation</h1>
		<h3>26<sub>th</sub> - 30<sub>th</sub> of May, 2019</h3>
		<h3><a href="/registration/">Registration is now open</a> and so is Round 2 of the <a href="https://owasp.submittable.com/submit/132865/global-appsec-tel-aviv-2019-call-for-papers" target="_blank">Call for Papers</a>!</h3>
	</div>

</div>
</section>


<section>
	<p>OWASP's first Global Conference for 2019 is coming to Tel Aviv! The cradle of AppSec Innovation, where the first DAST and the first WAF came to life exactly 20 years ago, and where so many other AppSec startups and companies are leading the birth of new tehcnologies such as serverless, IoT security, blockchain, and more. This year's theme, Community of Innovation, highlights the exceptionally strong and inclusive AppSec community of Israel, driving ongoing Innovation in this space.</p>

	<p>Join us for a celebration of leading application security technologies, speakers, prospects and community, in a unique event that will build on everything you already know to expect from an OWASP Global Conference. The Conference will be topped with additional unique activities and events to highlight the most up-to-date innovation in application security today, which will bring together existing and new participants from Israel, Europe and around the world.</p>
</section>

{% include keynotes.html %}

{% include sponsors.html %}
