---
---
@import "reset";
@import "vars";
@import "counter";
@import "header";
@import "footer";
@import "sections";
@import "teamlist";
@import "keynotelist";
@import "supporters";
@import "sponsors";



html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Raleway', sans-serif;
}

* {
	box-sizing: border-box;
}

em {
	font-style: italic;
}

a {
	text-decoration: none;
	color: $medium;
}
a:hover {
	text-decoration: underline;
}

h1, h2, h3{
	font-family: 'Raleway', sans-serif;
	margin: 0.25em 0em 0.25em 0em;
	font-weight: 600;
	line-height: 1em;

	sub {
		text-transform: none;
		font-size: 75%;
	}
}
h1 {
	font-size: 337.5%;
	em {
		text-transform: none;
		font-style: normal;
	}
}



h2 {
	font-size: 160%;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 150%;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

h4 {
	font-size: 110%;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

p {
	margin-bottom: 1em;
}

strong {
	font-weight: bold;
}













@media (max-width: 500px) {

}





